{% extends 'base.html' %}

{% block content %}
    <!-- Hero section with a big image and text -->
    <section class="hero">
        <img src="https://i.imgur.com/2capXFa.png" alt="Band Hero Image">
        <h1 class="fade-in-h1">Proper lads, proper talented</h1>
    </section>

    <!-- Members section with alternating images and descriptions -->
    <section class="members">
        <!-- Member 1 -->
        <div class="member">
            <img src="https://i.imgur.com/z8aNjIJ.jpg" alt="Kyle">
            <div class="description">
                <h2>Kyle - Guitar</h2>
                <br>
                <p>Originally from Lake Havasu, Arizona, Kyle's vast artistic range is Americana incarnte. From delicate crooning to pentatonic shredding, our man out front simply doesn't miss.</p>
            </div>
        </div>

        <!-- Member 2 -->
        <div class="member">
            <img src="https://i.imgur.com/iBQJiN2.jpg" alt="Chris">
            <div class="description">
                <h2>Chris - Drums</h2>
                <br>
                <p>A man who needs no introduction, Chris is the captain of our Alt Pop vessel. Be it making decisions or hitting the skins, his execution is always rock solid.  </p>
            </div>
        </div>

        <!-- Member 3 -->
        <div class="member">
            <img src="https://i.imgur.com/QQDselS.jpg" alt ="Sean">
            <div class="description">
                <h2>Sean - Bass</h2>
                <br>
                <p>From hybrid picking to transpositions on the fly, Sean is always pushing his technical limits. Is he one of the best bass players you've ever heard? Yes... he probably is.</p>
            </div>
        </div>
    </section>
{% endblock %}
