body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    background: 
        /* Top half: solid black */
        linear-gradient(#000, #000) top,
        /* Bottom half: linear gradient from black to pink */
        linear-gradient(to bottom, #000, #AA336A) bottom;
    background-size: 100% 51%;
    background-repeat: no-repeat;
    font-family: 'Big Shoulders Display', sans-serif;
    color: #fff;
}

/* Navigation styles */
header {
    background-image: linear-gradient(#ff6eff, #ff0099);
    padding: 10px 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #000;
    text-decoration: none;
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 35px;
    font-weight: bold;
    padding: 4px 8px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    color: #fff;
}

/* Align Instagram icon to the right */
.ig-link {
    float: right;
}

/* Main content styles */
main {
    padding: 20px;
}

/* Footer styles */
footer {
    background-color: #000;
    padding: 10px 0;
    text-align: center;
}

/* Hero section */
.hero {
    text-align: center;
    padding: 50px 0;
    font-size: 30px;
}

.hero img {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 0 auto;
    display: block;
}

/* Fade-in animation for h1 tags */
.fade-in-h1 {
    opacity: 0;
    animation: fadeInH1 1.5s ease-in-out forwards;
    animation-delay: 0.5s;
}

@keyframes fadeInH1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Members section */
.members {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    width: 100%;
    max-width: 400px;
}

.member h2 {
    font-size: 30px;
}

.member:nth-child(2) {
    flex-direction: row-reverse; /* Reverse the flex direction for the second member */
}

.member img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 10px;
    filter: contrast(120%) saturate(150%); 
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.member .description {
    max-width: 80%;
    text-align: left;
    padding: 0 10px;
    font-size: 20px;
}

/* Setlist section */
.setlist {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.song {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

/* Thumbnail */
.thumbnail {
    flex: 0 0 auto;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

/* Song and Artist Name */
.song-info {
    flex: 1;
    margin-right: 10px;
}

/* Duration */
.song-duration {
    flex: 0 0 auto;
    margin-right: 20px;
}

.song-duration span { 
    margin-right: 1px;
}

.song-duration .colon {
    vertical-align: 15%;
    margin-right: 1px;
}

/* Play button */
.play-button {
    flex: 0 0 auto;
    background-color: #ff6eff;
    color: #fff;
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.play-button:hover {
    background-color: #ff0099;
}

/* Additional CSS for the pitches section */
.pitches {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pitch {
    margin-bottom: 50px;
    text-align: center;
    opacity: 0;
}

.pitch h2 {
    font-size: 40px;
}

.pitch p {
    font-size: 20px;
}

.pitch img {
    max-width: 100%;
}

.description {
    margin-top: 20px;
}

.fade-in {
    animation: fadeIn 1.5s ease-in-out forwards;
    animation-delay: 1.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.rounded {
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .pitch .description {
        max-width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .setlist {
        max-width: 800px;
        margin: 0 auto;
    }
    .pitch .description {
        max-width: 900px;
        margin: 0 auto;
        margin-top: 20px;
    }
}